.primary-bg {
  background-color: #8367e7;
}

.secondary-bg {
  background-color: #a797ed;
}

.white-bg {
  background-color: #f8f5fa;
}

.primary-text {
  color: #8367e7;
}

.secondary-text {
  color: #a797ed;
}

.white-text {
  color: #f8f5fa;
}

.grey-bg {
  background-color: #e6e6e6;
}

.grey-text {
  color: #aeaeae;
}
