.input-container {
  position: relative;
  height: 40px;
}

.placeholder-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 10px 8px;
  box-sizing: border-box;
  transition: 1s ease all;
  border: 1px solid #8367e7;
}

.placeholder-input:focus {
  outline: none;
}

label {
  position: absolute;
  top: 50%;
  font-size: 20px;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #7b7b7b;
  pointer-events: none;
  transition: 0.2s ease all;
}

.placeholder {
  top: -5px;
  left: 5px;
  font-size: 12px;
  font-size: 10px;
}

.validationError {
  font-size: 12px;
  margin-top: 5px;
  position: absolute;
}
